.container {
    &--nav {
        padding: 8vw 5vw;

        @include mediaQuery(md) {
            padding: 3vw 8vw;
        }
    }

    &--footer {
        padding: 8vw 5vw;

        @include mediaQuery(md) {
            padding: 3vw 8vw;
        }
    }

    &--responsive {
        width: 85vw;
        margin: 0 auto;

        @include mediaQuery(md) {
            width: 80vw;
        }

        &-p {
            padding-left: 5vw;
            padding-right: 5vw;

            @include mediaQuery(md) {
                padding-left: 8vw;
                padding-right: 8vw;
            }
        }
    }

    &--narrow {
        width: 90vw;
        margin: auto;

        @include mediaQuery(md) {
            width: 80vw;
        }

        @include mediaQuery(lg) {
            width: 75vw;
        }

        @include mediaQuery(xl) {
            width: 60vw;
        }
    }
}