* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

html {
    font-size: 62.5%;

    @include mediaQuery(xs) {
        font-size: 75%;
    }

    @include mediaQuery(lg) {
        font-size: 85%;
    }

    @include mediaQuery(xl) {
        font-size: 90%;
    }
}

body {
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

input,
button {
    color: inherit;
    border: none;
    font-size: inherit;
    font-family: inherit;
    appearance: none;
}

.mobile {
    @include mediaQuery(md) {
        display: none !important;
    }
}

.hide-on-mobile {
    display: none;

    @include mediaQuery(md) {
        display: block !important;
    }
}