.cta {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $SoftBlue;
    color: #fff;
    padding: $MediumSpace 0;

    &__small {
        text-transform: uppercase;
        letter-spacing: .5rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-self: center;

        @include mediaQuery(md) {
            flex-direction: row;
        }

        &>* {
            width: 100%;
            align-self: stretch;

            @include mediaQuery(md) {
                width: auto;
                align-self: inherit;
            }
        }

        &-input {
            display: block;
            border-radius: .5rem;
            padding: .5rem 1rem;
            margin-bottom: 1rem;

            @include mediaQuery(md) {
                margin-right: 1rem;
                margin-bottom: 0;
            }
        }

        &-btn {
            cursor: pointer;
            padding: .5rem 1rem;
            background-color: $SoftRed !important;
        }
    }
}