.container {
    &--nav {
        padding: 8vw 5vw;

        @include mediaQuery(md) {
            padding: 3vw 8vw;
        }
    }

    &--footer {
        padding: 8vw 5vw;

        @include mediaQuery(md) {
            padding: 3vw 8vw;
        }
    }

    &--responsive {
        width: 85vw;
        margin: 5vw auto;

        @include mediaQuery(md) {
            margin: 10vw auto;
            width: 80vw;
        }

        &-p {
            padding: 2.5vw 5vw;

            @include mediaQuery(md) {
                padding: 4vw 8vw;
            }
        }
    }

    &--narrow {
        width: 90vw;
        margin: 5vw auto;

        @include mediaQuery(md) {
            width: 80vw;
        }

        @include mediaQuery(lg) {
            width: 75vw;
        }

        @include mediaQuery(xl) {
            width: 60vw;
        }
    }
}