.h {

    &1,
    &2,
    &3 {
        font-weight: bold;
    }

    &1 {
        font-size: clamp(2rem, 3rem, 10vh);
    }

    &2 {
        font-size: clamp(1.5rem, 4rem, 6vh);
    }

    &3 {
        font-size: clamp(1rem, 2rem, 3.35vh);
    }
}

.p {
    font-size: clamp(1rem, 1.5rem, 10vh);
    font-weight: 300;
    line-height: 1.5;
}