.m {
    &y {
        &-1 {
            margin: 1rem 0;
        }

        &-2 {
            margin: 2rem 0;
        }
    }

    &t {
        &-1 {
            margin-top: 1rem;
        }

        &-2 {
            margin-top: 2rem;
        }
    }

    &r {
        &-1 {
            margin-right: 1rem;
        }

        &-2 {
            margin-right: 2rem;
        }
    }
}