.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: background-color .3s;

    &--on {
        background-color: #fff;
        border-bottom: 1px solid #eee;
    }

    &__img {
        &--on {
            transition: all .3s;

            circle,
            path {
                fill: #fff;
            }

            .path-icon {
                fill: #000;
            }

            @include mediaQuery(md) {
                path {
                    fill: #242A45;
                }

                circle {
                    fill: #5267DF;
                }

                .path-icon {
                    fill: #FFF;
                }
            }
        }
    }

    &__box {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        overflow-x: scroll;
        background-color: rgba($VeryDarkBlue, $alpha: 0.9);
        transition: all .3s;
        z-index: -1;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
        padding: $BigSpace $SmallSpace $MediumSpace $SmallSpace;

        &--on {
            left: 0;
        }

        @include mediaQuery(md) {
            position: static;
            width: auto;
            background-color: transparent;
            z-index: inherit;
            padding: initial;
        }
    }

    &__ul {
        display: flex;
        text-transform: uppercase;
        flex-direction: column;
        color: white;
        text-align: center;
        flex-shrink: 0;
        font-size: $FontBig;

        @include mediaQuery(md) {
            flex-direction: row;
            text-align: initial;
            color: #000;
            align-items: center;
            font-size: $FontBase;
        }

        &-li {
            color: currentColor;
            padding: $SmallSpace;
            border-top: 1px solid rgba(#fff, .3);
            cursor: pointer;
            transition: all .3s;

            @include mediaQuery(md) {
                &:hover {
                    color: $SoftRed;
                }
            }

            @include mediaQuery(sm) {
                padding: $TinySpace $SmallSpace;
            }

            &:nth-child(3) {
                border-bottom: 1px solid rgba(#fff, .3);
            }

            &--login {
                border: 3px solid currentColor;
                border-radius: .5rem;
                margin-top: $SmallSpace;
                padding: $TinySpace;

                @include mediaQuery(md) {
                    border: 1px solid currentColor;
                    background-color: $SoftRed;
                    color: #fff;
                    margin-top: initial;
                    padding: $TinySpace $SmallSpace;

                    &:hover {
                        background-color: transparent;
                        color: $SoftRed;
                    }
                }
            }


        }
    }

    &__socials {
        display: flex;
        margin: $SmallSpace auto 0 auto;
        width: 33%;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
    }
}