.h1 {
    font-size: $FontBig;
    font-weight: bold;
}

.h2 {
    font-size: $FontMediumLarge;
    font-weight: bold;
}

.h3 {
    font-size: $FontMedium;
    font-weight: bold;
}

.p {
    font-size: $FontBase;
    font-weight: 300;
    line-height: 1.5;

    &--big {
        font-size: $FontMedium;
    }
}